<div class="board">

    <div class="layer">
        {% for i in 0..9 %}
            {% for j in 0..9 %}
                <div class="sea_square"></div>
            {% endfor %}
        {% endfor %}
    </div>

    {% if ships is defined %}
    <div class="fleet">
        {% for ship in ships %}
            <div 
                class="square ship" 
                style="
                    grid-row-start: {{ grid_row_start(ship) }}; 
                    grid-row-end: {{ grid_row_end(ship) }}; 
                    grid-column-start: {{ grid_col_start(ship) }};
                    grid-column-end: {{ grid_col_end(ship) }};
                ">
            </div>
            
        {% endfor %}
    </div>
    {% endif %}

    {% if opponent_ships_sunk is defined %}
    <div class="sunk-ships">
        {% for sunk_ship in opponent_ships_sunk %}
            <div
                class="wrapper"
                style="
                    grid-row-start: {{ grid_row_start(sunk_ship) }}; 
                    grid-row-end: {{ grid_row_end(sunk_ship) }}; 
                    grid-column-start: {{ grid_col_start(sunk_ship) }};
                    grid-column-end: {{ grid_col_end(sunk_ship) }};
                ">
                <div class="sunk-ship">
                </div>
            </div>
            
        {% endfor %}
    </div>
    {% endif %}

    {% if shoots is defined %}
    <div class="shoots">
        {% for shoot in shoots %}
            <div class="square" 
                style="grid-row-start: {{ (shoot.coordinates|first) + 1 }}; grid-column-start: {{ (shoot.coordinates|last) + 1 }};">
                <div class="shoot"></div>
            </div>
        {% endfor %}
    </div>
    {% endif %}

    {% if hits is defined %}
    <div class="hits">
        {% for hit in hits %}
            <div class="square" 
                style="grid-row-start: {{ (hit.coordinates|first) + 1 }}; grid-column-start: {{ (hit.coordinates|last) + 1 }};">
                <div class="hit"></div>
            </div>
        {% endfor %}
    </div>
    {% endif %}

    {% if triggers is defined %}
        <div class="triggers">
            {% for trigger in triggers %}
                {% if match_coordinate(trigger.vars.value.coordinates|split(','), shoots) %}
                {% else %}
                    <div class="square" style="grid-row-start: {{ (trigger.vars.value.coordinates|split(',')|first) + 1 }}; grid-column-start: {{ (trigger.vars.value.coordinates|split(',')|last) + 1 }};">
                        {{ form_start(trigger) }}
                            {{ form_widget(trigger.save, { 'label': 'T' }) }}
                        {{ form_end(trigger) }}
                    </div>
                {% endif %}
                
            {% endfor %}
        </div>
    {% endif %}


</div>